* {box-sizing: border-box}
body {font-family: 'Raleway', sans-serif; font-size: 10px;}
ul {list-style: none; padding: 0}
video {max-height: 300px;width: 100%;}
p {
  background: #efefef;
  margin: 0.5rem 0;
  padding: 0.5rem;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.dialog {
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 2px -2px #666;
  padding: 1rem;
  position: fixed;
  right: 1rem;
  top: 1rem;
  width: 10rem;
}

.localVideo {
  bottom: 1rem;
  position: absolute;
  right: 1rem;
  transform: rotateY(180deg);
  width: 100px;
  z-index: 1;
}

.messageContainer {
  border: 1px solid #666;
  box-shadow: 0 5px 5px -5px #666;
  margin-bottom: 1rem;
  padding: 1rem;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.videos {
  align-items: center;
  background: #333;
  display: flex;
  justify-content: center;
  min-height: 10rem;
  padding: 1rem;
  position: relative;
  text-align: center;
}