* {box-sizing: border-box}
body {font-family: 'Raleway', sans-serif; font-size: 10px;}
h2 {margin: 0 0 0.5rem;}
ul {list-style: none; padding: 0}
video {max-height: 300px;width: 100%;}
p {
  background: #efefef;
  margin: 0.5rem 0;
  padding: 0.5rem;
}
button {
  background: #2a63d4;
  border-radius: 5px;
  border: 1px solid #ccc;
  color: #fff;
  cursor: pointer;
  margin-bottom: 0.5rem;
  min-height: 2rem;
  min-width: 5rem;
}
button[disabled] {
  background: #ccc;
  cursor: not-allowed;
}

.buttons {
  display: flex;
  flex-direction: column;
  min-height: 5rem;
}

.container {
  border: 1px solid #666;
  box-shadow: 0 5px 5px -5px #666;
  margin-right: 1rem;
  min-width: 30%;
  padding: 1rem;
}

.container:last-child {
  margin-right: 0;
}

.containers {
  display: flex;
  flex-direction: row;
}

.dialog {
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 2px -2px #666;
  padding: 0.5rem;
  position: fixed;
  right: 1rem;
  top: 1rem;
  width: 10rem;
}

.localVideo {
  border: 1px solid #ccc;
  bottom: 1rem;
  position: absolute;
  right: 1rem;
  transform: rotateY(180deg);
  width: 100px;
  z-index: 1;
}

.messagesComponent {
  position: relative;
}

.offerDialog {
  align-items: center;
  background: #222;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  height: 90%;
  justify-content: center;
  margin: 5%;
  position: fixed;
  right: -110%;
  top: 0;
  width: 90%;
  z-index: 1;
}

.offerDialog_active {
  right: 0;
}

.offerFrom {
  color: #fafafa;
}

.receivedMessages {
  min-height: 5rem;
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sendMessageButton {
  position: absolute;
  right: 0;
  z-index: 1;
}

.messageEntry {
  padding: 1rem 0;
}

.messageInput {
  width: 100%;
}

.userListItem {
  border: 1px solid #aaa;
  cursor: pointer;
  margin-top: -1px;
  padding: 1rem;
}

.userListItem_active {
  background: #2a63d4;
  color: #fff;
}

.videos {
  align-items: center;
  background: #333;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  min-height: 10rem;
  padding: 1rem;
  position: relative;
  text-align: center;
}

@media (max-width: 960px) {
  .container {
    margin-bottom: 1rem;
    margin-right: 0;
  }
  .containers {
    flex-direction: column;
  }
}
